<%- include('../_partials/breadcrumb') %>
    <section id="mainContent">
        <div class="container">
            <div class="row">
                <%- include('../_partials/setting') %>
                    <div class="col-lg-9">
                        <div class="order-md-10">
                            <div class="d-flex justify-content-evenly">
                                <div class="profile-content">
                                    <p>
                                        <strong>
                                      Please confirm your email address by clicking on the link <br>
                                      emailed to you. If you cannot find the email, you can request <br>
                                      a new confirmation email or change your address
                                  </strong>
                                    </p>
                                    <p>November 25, 2021</p>
                                </div>

                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>