<%- include('../_partials/breadcrumb') %>
    <section id="mainContent">
        <div class="container">
            <div class="row">
                <%- include('../_partials/setting') %>
                    <div class="col-lg-9">
                        <h3 class="heading-25">Country/Region</h3>
                        <form id="countryRegion">
                            <label for="labelCountry">Country</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="amountDropdown" data-toggle="dropdown">
                    &nbsp;&nbsp;&nbsp;
                    <span class="flag-container">
                      <img src="/assets/images/flags/en.png">
                    </span>
                                    </span>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <img src="/assets/images/flags/en.png">
                                        <img src="/assets/images/flags/fr.png">
                                        <img src="/assets/images/flags/gr.png">
                                    </div>
                                </div>
                                <select class="form-control" id="labelCountry" style="display: none;">
                 <option value="Option 1">Option 1</option>
                 <option value="Option 2">Option 1</option>
                 <option value="Option 3">Option 1</option>
                 <option value="Option 4">Option 1</option>
                 <option selected="" value="Nigeria">Nigeria</option>
               </select>
                                <div class="nice-select form-control" tabindex="0"><span class="current">Nigeria</span>
                                    <ul class="list">
                                        <li data-value="Option 1" class="option">Option 1</li>
                                        <li data-value="Option 2" class="option">Option 1</li>
                                        <li data-value="Option 3" class="option">Option 1</li>
                                        <li data-value="Option 4" class="option">Option 1</li>
                                        <li data-value="Nigeria" class="option selected">Nigeria</li>
                                    </ul>
                                </div>
                            </div>

                            <h6 class="my-3">Bank Information</h6>
                            <div class="form-group">
                                <label>Bank name</label>
                                <select class="form-control" style="display: none;">
                <option value="" selected="">Select Bank</option>
                <option value="Option 1">Option 1</option>
                <option value="Option 2">Option 2</option>
                <option value="Option 3">Option 3</option>
              </select>
                                <div class="nice-select form-control" tabindex="0"><span class="current">Select Bank</span>
                                    <ul class="list">
                                        <li data-value="" class="option selected">Select Bank</li>
                                        <li data-value="Option 1" class="option">Option 1</li>
                                        <li data-value="Option 2" class="option">Option 2</li>
                                        <li data-value="Option 3" class="option">Option 3</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Account Number</label>
                                <select class="form-control" style="display: none;">
                 <option selected="" value="Account Number">Account Number</option>
                 <option>Option 2</option>
                 <option>Option 3</option>
               </select>
                                <div class="nice-select form-control" tabindex="0"><span class="current">Account Number</span>
                                    <ul class="list">
                                        <li data-value="Account Number" class="option selected">Account Number</li>
                                        <li data-value="Option 2" class="option">Option 2</li>
                                        <li data-value="Option 3" class="option">Option 3</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="d-flex cancel justify-content-between p-3">
                                <a href="#">Cancel</a>
                                <input type="submit" class="btn btn-secondary" disabled="" value="Save">
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </section>