<%- include('../../_partials/breadcrumb') %>
    <section id="mainContent">
        <div class="container">
            <div class="row">
                <%- include('../../_partials/setting') %>
                    <div class="col-lg-9">
                        <div class="order-md-10">
                            <div class="profile-content">
                                <h6>Prefered Language</h6>
                                <p>English</p>
                            </div>
                            <hr>
                            <a href="#" class="edit"> Edit</a>


                        </div>
                    </div>
            </div>
        </div>
    </section>