<%- include('../../_partials/breadcrumb') %>
    <section id="mainContent">
        <div class="container">
            <div class="row">
                <%- include('../../_partials/setting') %>
                    <div class="col-lg-9">
                        <div class="order-md-10">
                            <div class="d-flex justify-content-evenly">
                                <div class="profile-img mr-4">
                                    <img src="https://revhaut.lappy.ng/admin-dashboard/assets/images/logo/favicon.png" class="img-fluid rounded">
                                </div>
                                <div class="profile-content">
                                    <p>
                                        <strong>
                                      Please confirm your email address by clicking on the link <br>
                                      emailed to you. If you cannot find the email, you can request <br>
                                      a new confirmation email or change your address
                                  </strong>
                                    </p>
                                    <p>November 25, 2021</p>
                                </div>

                            </div>
                            <hr>
                            <div class="d-flex">
                                <div class="profile-img mr-4">
                                    <img src="https://revhaut.lappy.ng/admin-dashboard/assets/images/logo/favicon.png" class="img-fluid rounded">
                                </div>
                                <div class="profile-content">
                                    <p><strong>Invite a friend and earn USD 10</strong></p>
                                    <p>November 25, 2021</p>
                                </div>
                            </div>


                        </div>
                    </div>
            </div>
        </div>
    </section>