<section id="affiliate" class="page-title home-bg page-title-layout2 bg-overlay bg-overlay-gradient bg-parallax">
    <div class="bg-img"><img src="assets/images/backgrounds/affiliate.png" alt="background"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 pt-5 wow fadeInLeft" data-wow-duration="2s">
                <h2>
                    Dedicated teams.<br> For your Dedicated dreams
                </h2>
                <img src="assets/images/about-img.png" class="img-fluid" alt="background">
            </div>

        </div>
    </div>
</section>

<section id="secondSection" class="bg-section bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4 aff-column wow fadeInLeft" data-wow-duration="2s">
                <h6>OUR MISSION</h6>
                <h2>Helping you grow in every stage</h2>
            </div>
            <div class="col-md-8 aff-column wow fadeInRight" data-wow-duration="2s">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>

        </div>

    </div>
</section>

<section id="howItWorks" class="bg-section mission  site-bg-secondary text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center aff-column wow fadeIn" data-wow-duration="2s">
                <h6 class="text-white">OUR MISSION</h6>
                <h2 class="heading-25">High growth company with people first structure</h2>
                <p class="w-50 m-auto mobile-width">
                    There are no restrictions on how many affiliate programs you may join. You may begin promoting items at any moment. When you post links where your audience is concentrated, you normally get the best results.
                </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-md-6 col-sm-12 col-lg-3 wow fadeIn" data-wow-duration="2s">
                <div class="aff-column p-3 border border-white rounded">
                    <div class="circle-icon">
                        <i class="fa fa-laptop" aria-hidden="true"></i>
                    </div>
                    <h2 class="heading-25">We are learners</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-3 wow fadeIn" data-wow-duration="2s">
                <div class="aff-column p-3 border border-white rounded">
                    <div class="circle-icon">
                        <i class="fa fa-laptop" aria-hidden="true"></i>
                    </div>
                    <h2 class="heading-25">We love what we do</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-3 wow fadeIn" data-wow-duration="2s">
                <div class="aff-column p-3 border border-white rounded">
                    <div class="circle-icon">
                        <i class="fa fa-laptop" aria-hidden="true"></i>
                    </div>
                    <h2 class="heading-25">We are transparent</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-3 wow fadeIn" data-wow-duration="2s">
                <div class="aff-column p-3 border border-white rounded">
                    <div class="circle-icon">
                        <i class="fa fa-laptop" aria-hidden="true"></i>
                    </div>
                    <h2 class="heading-25">We are humble</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>

        </div>
</section>

<section id="whyRev" class="bg-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 aff-column wow fadeInLeft" data-wow-duration="2s">
                <h6 class="text-dark">THE TEAM</h6>
                <h2 class="heading-25">Meet the team</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
        <div class="row team-row">
            <div class="col-md-6 col-lg-3 col-sm-12 aff-column wow fadeIn" data-wow-duration="2s">
                <img src="assets/images/team/1.png" class="img-fluid" class="rounded">
                <h5>Emmanuel Franklin</h5>
                <p>
                    CO-FOUNDER AND CEO
                </p>
            </div>
            <div class="col-md-6 col-lg-3 col-sm-12 aff-column wow fadeIn" data-wow-duration="2s">
                <img src="assets/images/team/2.png" class="img-fluid" class="rounded">
                <h5>Kufre Ekong</h5>
                <p>
                    CO-FOUNDER AND CTO
                </p>
            </div>
            <div class="col-md-6 col-lg-3 col-sm-12 aff-column wow fadeIn" data-wow-duration="2s">
                <img src="assets/images/team/3.png" class="img-fluid" class="rounded">
                <h5>Esther Howard</h5>
                <p>
                    PRODUCT MANAGER
                </p>
            </div>
            <div class="col-md-6 col-lg-3 col-sm-12 aff-column wow fadeIn" data-wow-duration="2s">
                <img src="assets/images/team/4.png" class="img-fluid" class="rounded">
                <h5>Leslie Alexander</h5>
                <p>
                    PRODUCT STRATEGIST
                </p>
            </div>
            <div class="col-md-6 col-lg-3 col-sm-12 aff-column wow fadeIn" data-wow-duration="2s">
                <img src="assets/images/team/5.png" class="img-fluid" class="rounded">
                <h5>Nsikan Etukudoh</h5>
                <p>
                    PRODUCT DESIGNER
                </p>
            </div>
            <div class="col-md-6 col-lg-3 col-sm-12 aff-column wow fadeIn" data-wow-duration="2s">
                <img src="assets/images/team/6.png" class="img-fluid" class="rounded">
                <h5>Nsikan Etukudoh</h5>
                <p>
                    PRODUCT DESIGNER
                </p>
            </div>
            <div class="col-md-6 col-lg-3 col-sm-12 aff-column wow fadeIn" data-wow-duration="2s">
                <img src="assets/images/team/7.png" class="img-fluid" class="rounded">
                <h5>Guy Hawkins</h5>
                <p>
                    SOFTWARE ENGINEER
                </p>
            </div>
            <div class="col-md-6 col-lg-3 col-sm-12 aff-column wow fadeIn" data-wow-duration="2s">
                <img src="assets/images/team/8.png" class="img-fluid" class="rounded">
                <h5>Albert Flores</h5>
                <p>
                    CONTENT / BRAND MANAGER
                </p>
            </div>


        </div>


    </div>
</section>


<section id="subscribe-section" class="bg-section text-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-12" id="subscribeDark">
                <div class="row">
                    <div class="col-sm-12 col-lg-8">
                        <h2>
                            Growth is unstoppable.<br> Revhaut invites you to grow with us.
                        </h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <a href="#" class="btn btn-secondary mb-3">See open positions</a>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <img src="assets/images/abt-image-grid.png" class="img-fluid rounded">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>