<section id="affiliate" class="page-title home-bg page-title-layout2 bg-overlay bg-overlay-gradient bg-parallax">
    <div class="bg-img"><img src="/assets/images/backgrounds/affiliate.png" alt="background"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 pt-5 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="2s">
                <h2>
                    Earn money from promoting high-quality products on Revhaut as an affiliate
                </h2>
                <a href="/register/affilate" class="btn btn-primary">Become An affiliate</a>
            </div>
            <div class="col-md-6 wow fadeInRight" data-wow-duration="2s" data-wow-delay="2s">
                <img src="assets/images/affilate-img.jpg" class="img-fluid rounded" alt="background">
            </div>
        </div>
    </div>
</section>

<section id="secondSection" class="bg-section bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 aff-column wow fadeInLeft" data-wow-duration="2s" data-wow-delay="2s">
                <h2>What is an affiliate program?</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                </p>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-4 pl-4 col-12 aff-column wow fadeInRight" data-wow-duration="2s" data-wow-delay="2s">
                    <h2>Who needs to be part of an affiliate program?</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    </p>
                </div>
            </div>
        </div>
</section>

<section id="howItWorks" class="bg-section  site-bg-secondary text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 aff-column">
                <h2 class="heading-25">How does this work?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 aff-column offset-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="2s">
                <div class="circle-icon">
                    <i class="fa fa-laptop" aria-hidden="true"></i>
                </div>
                <h2 class="heading-25">Create an account</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 aff-column offset-md-6  wow fadeInRight" data-wow-duration="2s" data-wow-delay="2s">
                <div class="circle-icon">
                    <i class="fa fa-volume-up" aria-hidden="true"></i>
                </div>
                <h2 class="heading-25">Promote products</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 aff-column offset-md-3  wow fadeInUp" data-wow-duration="3s" data-wow-delay="2s">
                <div class="circle-icon">
                    <i class="fa fa-money" aria-hidden="true"></i>
                </div>
                <h2 class="heading-25">Earn and get paid</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
</section>

<section id="whyRev" class="bg-section bg-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 aff-column  wow fadeInLeft" data-wow-duration="2s" data-wow-delay="2s">
                <h2 class="heading-25">Why be a Revhaut affiliate?</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 aff-column  wow fadeIn" data-wow-duration="3s" data-wow-delay="2s">
                <div class="circle-icon">
                    <i class="fa fa-usd" aria-hidden="true"></i>
                </div>
                <h2 class="heading-25">Earn 15% revenue</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="col-md-4 aff-column wow fadeIn" data-wow-duration="3s" data-wow-delay="2s">
                <div class="circle-icon ">
                    <i class="fa fa-link" aria-hidden="true"></i>
                </div>
                <h2 class="heading-25">Easy affiliate link generation</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="col-md-4 aff-column wow fadeIn" data-wow-duration="3s" data-wow-delay="2s">
                <div class="circle-icon">
                    <img src="assets/images/icons/money-hand.png" class="img-fluid" alt="background">
                </div>
                <h2 class="heading-25">Weekly payouts</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 aff-column wow fadeIn" data-wow-duration="3s" data-wow-delay="2s">
                <div class="circle-icon">
                    <i class="fa fa-laptop" aria-hidden="true"></i>
                </div>
                <h2 class="heading-25">Convenient environment</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="col-md-4 aff-column wow fadeIn" data-wow-duration="3s" data-wow-delay="2s">
                <div class="circle-icon">
                    <img src="assets/images/icons/infinity.png" class="img-fluid">
                </div>
                <h2 class="heading-25">Unlimited amount of link sharing</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="col-md-4 aff-column wow fadeIn" data-wow-duration="3s" data-wow-delay="2s">
                <div class="circle-icon">
                    <img src="assets/images/icons/fold-hand.png" class="img-fluid">
                </div>
                <h2 class="heading-25">Be in control</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center p-4">
            <a href="#" class="btn btn-secondary wow fadeInLeftBig" data-wow-duration="2s" data-wow-delay="3s">Become an affiliate</a>
        </div>
    </div>
</section>

<section id="faqAffiliates" class="bg-section site-bg-secondary">
    <div class="container ">
        <div class="row">
            <div class="col-md-6 wow fadeInRight" data-wow-duration="3s" data-wow-delay="2s">
                <h2 class="heading-25">Frequently asked questions by affiliates</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                </p>
            </div>
            <div class="col-md-3 d-flex remove-padding justify-content-end offset-md-3 hide-faq ">
                <a href="#" class="btn btn-primary-outline wow fadeInRight" data-wow-duration="1s" data-wow-delay="1s">Go to FAQ's</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 ">

                <div id="accordion" class="accordion-dropdown">
                    <div class="card wow fadeInRight" data-wow-duration="3s" data-wow-delay="3s">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0 d-flex justify-content-between align-items-center">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                   How does Revhaut work?
                 </button>
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                                beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="card  wow fadeInRight" data-wow-duration="3s" data-wow-delay="2s">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0 d-flex justify-content-between align-items-center">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  How does Revhaut work?
                 </button>
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                                beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="card  wow fadeInRight" data-wow-duration="3s" data-wow-delay="2s">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0 d-flex justify-content-between align-items-center">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                   How does Revhaut work?
                 </button>
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                                beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-flex justify-content-end offset-md-3 d-block d-sm-none">
            <a href="#" class="btn btn-primary-outline btn-block">Go to FAQ's</a>
        </div>
    </div>
</section>