<section class="contact-wrap ptb-200">
    <img src="assets/img/tub.svg" alt="Image" class="section-img style1">
    <div class="container">
        <div class="row">
            <div class="col-mdd-12">
                <div class="contact-form-wrap">
                    <div class="comp-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8385385572983!2d144.95358331584498!3d-37.81725074201705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4dd5a05d97%3A0x3e64f855a564844d!2s121%20King%20St%2C%20Melbourne%20VIC%203000%2C%20Australia!5e0!3m2!1sen!2sbd!4v1612419490850!5m2!1sen!2sbd"></iframe>
                        <div class="contact-form">
                            <div class="content-title mb-50">
                                <h2>Get Connected</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi facere ipsum corporis earum, deserunt magni.</p>
                            </div>
                            <form class="form-wrap bv-form" action="https://templates.hibootstrap.com/hort/default/php/form-process.php" method="post" id="contact_form" novalidate="novalidate"><button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
                                <div id="message" class="alert alert-danger alert-dismissible fade"></div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group has-feedback">
                                            <input id="name" name="name" type="text" placeholder="Full Name*" required="" data-bv-field="name"><i class="form-control-feedback bv-no-label" data-bv-icon-for="name" style="display: none;"></i>
                                            <small class="help-block" data-bv-validator="stringLength" data-bv-for="name" data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length</small><small class="help-block" data-bv-validator="notEmpty"
                                                data-bv-for="name" data-bv-result="NOT_VALIDATED" style="display: none;">Please enter your Full Name</small></div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group has-feedback">
                                            <input id="email" name="email" type="email" placeholder="Email Address*" required="" data-bv-field="email"><i class="form-control-feedback bv-no-label" data-bv-icon-for="email" style="display: none;"></i>
                                            <small class="help-block" data-bv-validator="notEmpty" data-bv-for="email" data-bv-result="NOT_VALIDATED" style="display: none;">Please enter your email address</small><small class="help-block" data-bv-validator="emailAddress"
                                                data-bv-for="email" data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a valid email address</small></div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <select>
  <option value="1">Preferred Service Name</option>
  <option value="1">Home Gardening</option>
  <option value="2">Commercial Gardening</option>
  <option value="3">Lawn Setup</option>
  </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group has-feedback">
                                            <input id="phone" name="phone" type="number" placeholder="Phone Number" data-bv-field="phone"><i class="form-control-feedback bv-no-label" data-bv-icon-for="phone" style="display: none;"></i>
                                            <small class="help-block" data-bv-validator="integer" data-bv-for="phone" data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a valid number</small></div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group v1 has-feedback">
                                            <textarea name="comment" id="comment" cols="30" rows="10" placeholder="Your Messages.." data-bv-field="comment"></textarea><i class="form-control-feedback bv-no-label" data-bv-icon-for="comment" style="display: none;"></i>
                                            <small class="help-block" data-bv-validator="stringLength" data-bv-for="comment" data-bv-result="NOT_VALIDATED" style="display: none;">Please enter at least 10 characters and no more than 200</small><small class="help-block"
                                                data-bv-validator="notEmpty" data-bv-for="comment" data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a description</small></div>
                                        <span class="form_subtext">*Your all data are safe in our database</span>
                                    </div>
                                    <div class="col-lg-6">
                                        <button class="btn style1">Contact Us Now<i class="flaticon-right-arrow"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>