<div class="container d-flex justify-content-center flex-column align-items-center border border-1 rounded shadow" style=" background-color: white;">
  
    <h1 class="display-1 fw-bolder border-bottom w-100 text-center"><%=title%></h1>
    <hr>
    <p class="lead">Message: <%=message%></p>
    <dl>
      <dt class="display-3">
         <strong>Stack</strong> 
      </dt>
     <dd class="lead"><%=stack%></dd>
    </dl>
  </div>
</div>
