<section class="page-title home-bg page-title-layout2 bg-overlay bg-overlay-gradient bg-parallax">
    <div class="bg-img"><img src="/assets/images/1.jpg" alt="background"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-12 col-lg-7 col-xl-5 wow fadeInUp" data-wow-duration="2s" data-wow-delay="2s">
                <h1 class="pagetitle__heading">
                    We make your Online Possibilities Endless For Every Business
                </h1>
                <p style="color:#fff; font-weight: bold; font-size: 18px;">
                    Access expert affiliates to market your digital products, get more sales online and grow your income.
                </p>
                <a href="/register" class="btn btn__white btn__bordered btn__icon mt-20">
                    <span>Start Here</span><i class="icon-arrow-right"></i>
                </a>
            </div>
            <!-- /.col-xl-5 -->
            <div class="col-sm-12 col-md-12 col-lg-5 col-xl-7 wow fadeInUp d-flex justify-content-end cta-banner-wrapper" data-wow-duration="2s" data-wow-delay="2s">
                <div class="cta-banner">
                    <div class="cta__icon"><i class="icon-developer"></i></div>
                    <h4 class="cta__title">One Platform. Limitless Possibilities</h4>
                    <p class="cta__desc mb-25">
                        Growing your business online doesn’t have to be complicated. Revhaut has been a trusted digital product marketplace for creators looking to grow online. Here’s why:

                    </p>
                    <a href="#" class="btn btn__link btn__secondary btn__icon px-0 owl fadeInUp" data-wow-duration="3s" data-wow-delay="2s">
                        <span>More</span> <i class="icon-arrow-right"></i>
                    </a>
                </div>
            </div>
            <!-- /.col-xl-7 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<section class="services-layout2 services-carousel services-carousel-2 pt-130 pb-60">
    <div class="container">
        <div class="row wow fadeInUp" data-wow-duration="2s" data-wow-delay="2s">
            <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
                <div class="heading text-center mb-40">
                    <h2 class="heading__subtitle">Our Services</h2>
                    <h3 class="heading__title">One Platform. Limitless Possibilities</h3>
                </div>
            </div>
            <!-- /col-lg-6 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="2s">
                <div class="slick-carousel" data-slick='{"slidesToShow": 3, "slidesToScroll": 2, "arrows": false, "dots": true, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 2}}, {"breakpoint": 480, "settings": {"slidesToShow": 1}}]}'>
                    <!-- service item #1 -->
                    <div class="service-item">
                        <div class="service__content">
                            <div class="service__icon">
                                <span class="circle-badge">
                    <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                  </span>
                                <i class="fa fa-line-chart" aria-hidden="true"></i>
                            </div>
                            <!-- /.service__icon -->
                            <h4 class="service__title">Powerful E-commerce <br> Tools</h4>
                            <p class="service__desc">
                                Our tools and services reduce the barrier to entry and make it easier to scale your business online.
                            </p>
                            <ul>
                                <li>Hosted Order Form</li>
                                <li>Integrated Payments</li>
                                <li>Attract, Manage & Pay Affiliates</li>
                            </ul>
                        </div>
                        <!-- /.service-content -->
                    </div>
                    <!-- /.service-item -->
                    <!-- service item #2 -->
                    <div class="service-item">
                        <div class="service__content">
                            <div class="service__icon">
                                <span class="circle-badge">
                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                  </span>
                                <i class="fa fa-mobile" aria-hidden="true"></i>
                            </div>
                            <!-- /.service__icon -->
                            <h4 class="service__title">Vast Affiliate <br> Marketplace</h4>
                            <p class="service__desc">
                                We connect more than 100,000 sellers and marketers to reach millions of customers all around the world.
                            </p>
                            <ul>
                                <li>Transparent Product Marketplace</li>
                                <li>Reliable Payments</li>
                                <li>Top Performing Offers</li>
                            </ul>
                        </div>
                        <!-- /.service-content -->
                    </div>
                    <!-- /.service-item -->
                    <!-- service item #2 -->
                    <div class="service-item">
                        <div class="service__content">
                            <div class="service__icon">
                                <span class="circle-badge">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                  </span>
                                <i class="fa fa-desktop" aria-hidden="true"></i>
                            </div>
                            <!-- /.service__icon -->
                            <h4 class="service__title">Industry Leading <br> Support & Education</h4>
                            <p class="service__desc">
                                We support your personal and business growth with everything we do.
                            </p>
                            <ul>
                                <li>Personalized Account Management</li>
                                <li>Exclusive Industry Events</li>
                                <li>Powerful Spark Education Platform</li>
                                <br>
                            </ul>
                        </div>
                        <!-- /.service-content -->
                    </div>
                    <!-- /.service-item -->






                </div>
                <!-- /.carousel -->
            </div>
            <!-- /.col-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<section id="marketing" class="pt-130 site-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="2s">
                <div class="heading mb-30">
                    <div class="d-flex align-items-center mb-20">
                        <div class="divider divider-primary mr-30"></div>
                        <h2 class="heading__subtitle mb-0">Timely Service Delivery &amp; Incident Resolutions!! </h2>
                    </div>
                    <h3 class="heading__title mb-20">Manages service delivery across various business like, HR, Legal and other IT departments!!
                    </h3>

                    <div class="row">
                        <div class="col-md-6 marketing col-sm-6">
                            <i class="fa fa-volume-up" aria-hidden="true"></i>
                            <h4>Become An Affiliate</h4>
                            <ul class="list-items list-items-layout2 list-horizontal list-unstyled mb-10 mt-10">
                                <li>Promote Thousands of Quality Products</li>
                                <li>Earn Up to $150 Per Sale</li>
                                <li>Industry Leading Tracking (Device Blueprint)</li>
                            </ul>
                            <a href="#" class="btn btn__white " tabindex="0">Become An Affiliate</a>
                        </div>
                        <div class="col-md-6 marketing col-sm-6">
                            <i class="fa fa-money" aria-hidden="true"></i>
                            <h4>Sell Your Product</h4>
                            <ul class="list-items list-items-layout2 list-horizontal list-unstyled mb-60 mt-10">
                                <li>Access to Thousands of Affiliates</li>
                                <li>Sell Your Product Without Caps</li>
                                <li>Automated Affiliate Payments</li>
                            </ul>
                            <a href="#" class="btn btn__white" tabindex="0">Become An Affiliate</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 wow fadeInRight" data-wow-duration="2s" data-wow-delay="2s">
                <div class="img-container">
                    <img src="assets/images/marketing.jpg" class="img-fluid site-rounded">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="review" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 pt-5 pb-5 d-flex justify-content-center align-items-center">
                <div class="review-container wow fadeInUp" data-wow-duration="2s" data-wow-delay="2s">
                    <p>
                        Our customers say Excellent
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i> 4.5 out of 5 based on 2,876 reviews
                        <i class="fa fa-star" aria-hidden="true"></i> Trustpilot
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section-counter">
    <div id="geeks1">
        <div class="content wow fadeInUp" data-wow-duration="2s" data-wow-delay="2s">
            <h2>Worldwide Leader in Affiliate Marketing & Ecommerce Growth</h2>
            <p>
                At ClickBank, your company is in good company. The ClickBank platform empowers entrepreneurs and brands across the globe to grow, scale, and reach customers like never before. We’ve paid out more than $5 billion over the last 20+ years, but we’re just
                getting started. Is your business our next success story?
            </p>
        </div>
    </div>
    <div id="geeks2">
        <div class="container">
            <div class="row wow fadeInUp" data-wow-duration="2s" data-wow-delay="2s">
                <div class="col-md-4 col-sm-6">
                    <div class="counter-item text-center">
                        <span class="text-white counter-intro">Over</span><br>
                        <h4 class="text-white">
                            <span class="counter">190</span>
                            <span class="counter-text">Countries</span>
                        </h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="counter-item text-center">
                        <span class="text-white counter-intro">For Over</span><br>
                        <h4 class="text-white">
                            <span class="counter">20</span>
                            <span class="counter-text">Years</span>
                        </h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="counter-item text-center">
                        <span class="text-white counter-intro">With Over</span><br>
                        <h4 class="text-white">
                            <span class="counter-text">$</span>
                            <span class="counter">5</span>
                            <span class="counter-text">B Paid</span>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="reviewSection" class="services-layout2 services-carousel small-padding bg-gray">
    <div class="container">
        <div class="row heading mb-40 wow fadeInUp" data-wow-duration="2s" data-wow-delay="2s">
            <div class="col-12">
                <div class="d-flex align-items-center">
                    <div class="divider divider-primary mr-30"></div>
                    <h2 class="heading__subtitle mb-0">Our Reviews</h2>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-7">
                <h3 class="heading__title">What People Say About ClickBank</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="2s">
                <div class="slick-carousel" data-slick='{"slidesToShow": 3, "slidesToScroll": 2, "arrows": true, "dots": true, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 2}}, {"breakpoint": 480, "settings": {"slidesToShow": 1}}]}'>
                    <!-- service item #1 -->
                    <div class="service-item">
                        <div class="d-flex justify-content-between">
                            <p class="comment-meta">
                                Mike
                            </p>
                            <p class="comment-meta">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </p>
                        </div>
                        <div class="review-comment">
                            “Fantastic platform for selling your products. I’ve been doing it full time for the last 10 years. Payments are always on time &amp; account managers are always very helpful. Keep it up!”
                        </div>
                    </div>
                    <!-- /.service-item -->

                    <!-- service item #2 -->
                    <div class="service-item">
                        <div class="d-flex justify-content-between">
                            <p class="comment-meta">
                                Dawn Sylvester
                            </p>
                            <p class="comment-meta">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </p>
                        </div>
                        <div class="review-comment">
                            “Great tool for vendors and affiliate marketing. I have found ClickBank very easy to navigate as a vendor, AND have found it simple to use as an affiliate marketer.”
                        </div>
                    </div>
                    <!-- /.service-item -->

                    <!-- service item #3 -->
                    <div class="service-item">
                        <div class="d-flex justify-content-between">
                            <p class="comment-meta">
                                Surya Kumar
                            </p>
                            <p class="comment-meta">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </p>
                        </div>
                        <div class="review-comment">
                            “Clickbank is the best affiliate marketing network. We work with a bunch of networks and Clickbank is always on the top of our list.”
                        </div>
                    </div>
                    <!-- /.service-item -->

                    <!-- service item #4 -->
                    <div class="service-item">
                        <div class="d-flex justify-content-between">
                            <p class="comment-meta">
                                Michael Curtis
                            </p>
                            <p class="comment-meta">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </p>
                        </div>
                        <div class="review-comment">
                            “Since joining Clickbank, I’ve experienced nothing but the best. My earnings are never late and products for sale have improved a lot over the years.”
                        </div>
                    </div>
                    <!-- /.service-item -->

                    <!-- service item #5 -->
                    <div class="service-item">
                        <div class="d-flex justify-content-between">
                            <p class="comment-meta">
                                Jonathan Mizel
                            </p>
                            <p class="comment-meta">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </p>
                        </div>
                        <div class="review-comment">
                            “I have been using Clickbank as a buyer and seller since they launched, over 20 years at this point. Great service all around, love and trust them completely.”
                        </div>
                    </div>
                    <!-- /.service-item -->

                    <!-- service item #6 -->
                    <div class="service-item">
                        <div class="d-flex justify-content-between">
                            <p class="comment-meta">
                                Robin Hall
                            </p>
                            <p class="comment-meta">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </p>
                        </div>
                        <div class="review-comment">
                            “I sell a product via Clickbank (pianoforall.com) and I have had amazing success through their affiliate system – can’t fault it and would highly recommend them.”
                        </div>
                    </div>
                    <!-- /.service-item -->

                    <!-- service item #7 -->
                    <div class="service-item">
                        <div class="d-flex justify-content-between">
                            <p class="comment-meta">
                                Kevin Butters
                            </p>
                            <p class="comment-meta">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </p>
                        </div>
                        <div class="review-comment">
                            “Great affiliate network, good vendor offers and regular payments make this the no1 choice for affiliate marketers.”
                        </div>
                    </div>
                    <!-- /.service-item -->
                </div>
                <!-- /.carousel -->
            </div>
            <!-- /.col-12 -->
        </div>
        <div class="row">
            <div class="col-12 btn-wrapper wow fadeInUp" data-wow-duration="2s" data-wow-delay="2s">
                <a href="#" class="btn btn__secondary btn__bordered btn__icon">
                    <span>More Reviews</span>
                    <i class="icon-arrow-right"></i>
                </a>
            </div>
            <!-- /.col-12 -->
        </div>
    </div>
</section>

<section id="getStarted">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-md-7" id="getStartedBg">
                <div class="overlay"></div>
            </div>
            <div class="col-md-5 d-flex pl-20 pr-20 justify-content-center align-items-center site-bg">
                <h3 class="heading__title reduce-size mb-20 text-white">
                    Manages service delivery across various business like, HR, Legal and other IT departments!!
                </h3>
            </div>
        </div>
    </div>
</section>

<section class="portfolio-grid portfolio-grid-carousel pt-40">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="2s">
                <div class="heading mb-50">
                    <div class="d-flex align-items-center">
                        <div class="divider divider-primary mr-30"></div>
                        <h2 class="heading__subtitle mb-0">Articles</h2>
                    </div>
                    <h3 class="heading__title mb-0">Spark Offers Courses For All Levels</h3>
                </div>
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="2s">
                <div class="slick-carousel" data-slick='{"slidesToShow": 3, "slidesToScroll": 2, "arrows": true, "dots": true, "autoplay": true,"autoplaySpeed": 3000, "infinite": true, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 2}}, {"breakpoint": 480, "settings": {"slidesToShow": 1}}]}'>
                    <!-- portfolio item #1 -->
                    <div class="portfolio-item">
                        <div class="portfolio__img">
                            <img src="assets/images/portfolio/grid/robby-balance.jpg" alt="portfolio img">
                        </div>
                        <!-- /.portfolio-img -->
                        <div class="portfolio__content">
                            <div class="portfolio__cat">
                            </div>
                            <!-- /.portfolio-cat -->
                            <h4 class="portfolio__title"><a href="#">The $100/Day Formula Ft. Robby Blanchard</a></h4>
                            <p class="portfolio__desc">
                                Learn trade secrets from a top tier ClickBank affiliate! Robby Blanchard teaches his $100/day formula in this 200 Level Spark Course.
                            </p>
                            <a href="blog-single-post.html" class="btn btn__secondary btn__link">
                                <span>Read More</span>
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                        <!-- /.portfolio-content -->
                    </div>
                    <!-- /.portfolio-item -->
                    <!-- portfolio item #2 -->
                    <div class="portfolio-item">
                        <div class="portfolio__img">
                            <img src="assets/images/portfolio/grid/dominate-inbox.jpg" alt="portfolio img">
                        </div>
                        <!-- /.portfolio-img -->
                        <div class="portfolio__content">
                            <div class="portfolio__cat">
                            </div>
                            <!-- /.portfolio-cat -->
                            <h4 class="portfolio__title"><a href="#">Dominate the Inbox: Email marketing with Ian Stanley</a></h4>
                            <p class="portfolio__desc">
                                Learn the art of storytelling and email copy that works. This course teaches how to create and monetize emails with email marketing expert Ian Stanley.
                            </p>
                            <a href="blog-single-post.html" class="btn btn__secondary btn__link">
                                <span>Read More</span>
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                        <!-- /.portfolio-content -->
                    </div>
                    <!-- /.portfolio-item -->
                    <!-- portfolio item #3 -->
                    <div class="portfolio-item">
                        <div class="portfolio__img">
                            <img src="assets/images/portfolio/grid/7-day-challange.jpg" alt="portfolio img">
                        </div>
                        <!-- /.portfolio-img -->
                        <div class="portfolio__content">
                            <div class="portfolio__cat">
                            </div>
                            <!-- /.portfolio-cat -->
                            <h4 class="portfolio__title"><a href="#">7-Day Challenge</a></h4>
                            <p class="portfolio__desc">
                                Join Spark Coach Ben Harris on a 7-day journey to that first sale. This is an over-the-shoulder look at the exact steps Ben takes to set up a Facebook ad with a ClickBank offer!
                            </p>
                            <a href="blog-single-post.html" class="btn btn__secondary btn__link">
                                <span>Read More</span>
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                        <!-- /.portfolio-content -->
                    </div>
                    <!-- /.portfolio-item -->
                </div>
                <!-- /.carousel -->
            </div>
            <!-- /.col-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-12 btn-wrapper wow fadeInUp" data-wow-duration="2s" data-wow-delay="2s">
                <a href="#" class="btn btn__secondary btn__bordered btn__icon">
                    <span>More Articles</span>
                    <i class="icon-arrow-right"></i>
                </a>
            </div>
            <!-- /.col-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>