<section class="faq-wrap ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                <div class="faq-content">
                    <div class="faq-item">
                        <h5>Welcome To Hort Privacy Policy</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas </p>
                    </div>
                    <div class="faq-item">
                        <h5>Hort Privacy Policy</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas. Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Vel, autem.</p>
                    </div>
                    <div class="faq-item">
                        <h5>How We Get Data About you</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum. Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Magnam alias quidem tenetur debitis
                            doloremque harum asperiores saepe ab nesciunt cupiditate sunt ipsam error culpa perspiciatis temporibus odit voluptatibus, quo accusamus ullam ut. Quas repellat minima mollitia fugit iusto rerum animi </p>
                    </div>
                    <div class="faq-item">
                        <h5>Enquiries &amp; Registered Users</h5>
                        <p>Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Magnam alias quidem tenetur debitis doloremque harum asperiores saepe ab nesciunt cupiditate sunt ipsam error culpa perspiciatis temporibus odit voluptatibus, quo accusamus
                            ullam ut. Quas repellat minima mollitia fugit iusto rerum animi.</p>
                    </div>
                    <div class="faq-item">
                        <h5>Lorem ipsum dolor sit amet consectetur.</h5>
                        <p>Adipisicing elit. Magnam alias quidem tenetur debitis doloremque harum asperiores saepe ab nesciunt cupiditate sunt ipsam error culpa perspiciatis temporibus odit voluptatibus, quo accusamus ullam ut. Quas repellat minima mollitia
                            fugit iusto rerum animi.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>