<section id="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-header">
                    <h2>Home</h2>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/affiliate/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <%- locals.page %>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>