<section id="productSummary" class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="summary-box">
                    <div class="row no-gutters">
                        <div class="col-lg-8 col-8">
                            <p>AVAILABLE BALANCE</p>
                            <h5>$2,489</h5>
                        </div>
                        <div class="col-lg-4 col-4 icon-rounded bg-warning">
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="summary-box">
                    <div class="row no-gutters">
                        <div class="col-lg-8 col-8">
                            <p>Total Earnings</p>
                            <h5>$2,489</h5>
                        </div>
                        <div class="col-lg-4 col-4 icon-rounded bg-danger">
                            <img src="/admin/assets/images/icons/total.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="summary-box">
                    <div class="row no-gutters">
                        <div class="col-lg-8 col-8">
                            <p>Total Sales</p>
                            <h5>23</h5>
                        </div>
                        <div class="col-lg-4 col-4 icon-rounded bg-success">
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="summary-box">
                    <div class="row no-gutters">
                        <div class="col-lg-8 col-8">
                            <p>Next Payout</p>
                            <h5>23</h5>
                        </div>
                        <div class="col-lg-4 col-4 icon-rounded bg-primary">
                            <i class="fa fa-list-alt" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="dashPromo" class="my-5">
    <div class="container" id="becomeAffiliate">
        <div class="row affiliate-overlay">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-4 icon-gift d-flex justify-content-center align-items-center">
                        <i class="fa fa-gift" aria-hidden="true"></i>
                    </div>
                    <div class="col-lg-8">
                        <h4 class="text-white">Get free &#8358;1,000</h4>
                        <p class="text-white">
                            Refer a friend and be rewarded for each one who signs up and becomes an affiliate.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex justify-content-center align-items-center">
                <a href="#referModal" class="btn btn-primary" data-toggle="modal">Refer a friend</a>
            </div>
        </div>
    </div>
</section>

<section id="charts" class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <p>SALE PERFORMANCE</p>
                <div class="column-inner dashboard-rounded">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
            <div class="col-lg-5">
                <p>TOP SELLING PRODUCTS</p>
                <div class="column-inner dashboard-rounded">
                    <table class="table table-hover">
                        <tr>
                            <th>Product Name</th>
                            <th>Amount</th>
                            <th>No Of Purchases</th>
                        </tr>
                        <tr>
                            <td>
                                Mind games of a broken...
                            </td>
                            <td>
                                &#8358;120,450
                            </td>
                            <td>
                                150
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Mind games of a broken...
                            </td>
                            <td>
                                &#8358;120,450
                            </td>
                            <td>
                                150
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Mind games of a broken...
                            </td>
                            <td>
                                &#8358;120,450
                            </td>
                            <td>
                                150
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Mind games of a broken...
                            </td>
                            <td>
                                &#8358;120,450
                            </td>
                            <td>
                                150
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Mind games of a broken...
                            </td>
                            <td>
                                &#8358;120,450
                            </td>
                            <td>
                                150
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Mind games of a broken...
                            </td>
                            <td>
                                &#8358;120,450
                            </td>
                            <td>
                                150
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="recentSales">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>Recent Sales</p>
                <div class="column-inner shadow-lg dashboard-rounded">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tr>
                                <th>TRANSACTION ID</th>
                                <th>PRODUCT</th>
                                <th>AMOUNT</th>
                                <th>COMMISSION</th>
                                <th>STATUS</th>
                                <th>DATE CREATED</th>
                            </tr>
                            <tr>
                                <td>RUBRWA354</td>
                                <td>Mind games of a broken heart</td>
                                <td>N45,000</td>
                                <td>N450</td>
                                <td><a href="#" class="badge badge-warning">Pending</a></td>
                                <td>06-08-2021</td>
                            </tr>
                            <tr>
                                <td>RUBRWA354</td>
                                <td>Mind games of a broken heart</td>
                                <td>N45,000</td>
                                <td>N450</td>
                                <td><a href="#" class="badge badge-success">Completed</a></td>
                                <td>06-08-2021</td>
                            </tr>
                            <tr>
                                <td>RUBRWA354</td>
                                <td>Mind games of a broken heart</td>
                                <td>N45,000</td>
                                <td>N450</td>
                                <td><a href="#" class="badge badge-danger">Rejected</a></td>
                                <td>06-08-2021</td>
                            </tr>
                            <tr>
                                <td>RUBRWA354</td>
                                <td>Mind games of a broken heart</td>
                                <td>N45,000</td>
                                <td>N450</td>
                                <td><a href="#" class="badge badge-danger">Rejected</a></td>
                                <td>06-08-2021</td>
                            </tr>
                            <tr>
                                <td>RUBRWA354</td>
                                <td>Mind games of a broken heart</td>
                                <td>N45,000</td>
                                <td>N450</td>
                                <td><a href="#" class="badge badge-danger">Rejected</a></td>
                                <td>06-08-2021</td>
                            </tr>
                            <tr>
                                <td>RUBRWA354</td>
                                <td>Mind games of a broken heart</td>
                                <td>N45,000</td>
                                <td>N450</td>
                                <td><a href="#" class="badge badge-danger">Rejected</a></td>
                                <td>06-08-2021</td>
                            </tr>
                            <tr>
                                <td>RUBRWA354</td>
                                <td>Mind games of a broken heart</td>
                                <td>N45,000</td>
                                <td>N450</td>
                                <td><a href="#" class="badge badge-danger">Rejected</a></td>
                                <td>06-08-2021</td>
                            </tr>
                            <tr>
                                <td>RUBRWA354</td>
                                <td>Mind games of a broken heart</td>
                                <td>N45,000</td>
                                <td>N450</td>
                                <td><a href="#" class="badge badge-danger">Rejected</a></td>
                                <td>06-08-2021</td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="referModalSection">
    <div class="modal fade" id="referModal" tabindex="-1" role="dialog" aria-labelledby="arialReferModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-lg-10 text-center d-flex justify-content-center">
                            <h5 class="modal-title" id="exampleModalLabel">Refer a friend</h5>
                        </div>
                        <div class="col-lg-2 d-flex justify-content-end">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                        </div>
                    </div>
                    <hr>
                </div>

                <div class="modal-body  d-flex justify-content-center">
                    <div class="modal-content-container dashboard-rounded text-center">
                        <i class="fa fa-gift" aria-hidden="true"></i>
                        <h5 class="mb-4">Get free N1,000</h5>
                        <p class="mb-4">
                            Earn cash reward when your friend signs up and become an affiliate with your referral code or link.
                        </p>
                        <hr class="mb-5">
                        <form class="mt-4">
                            <div class="form-group">
                                <div class="d-flex justify-content-between">
                                    <label>Copy Link</label>
                                    <a href="#shareModal" data-toggle="modal">Share link</a>
                                </div>
                                <div class="input-group">
                                    <input type="url" class="form-control" id="validationDefaultUsername" placeholder="https://revhaut.com/kufrek12" aria-describedby="inputGroupPrepend2" required>
                                    <div class="input-group-prepend">
                                        <a href="#" class="input-group-text" id="inputGroupPrepend2">Copy</a>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="shareModalSection">
    <!-- Modal -->
    <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLong" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-2 d-flex justify-content-center align-items-center">
                                <a href="#">
                                    <i class="fa fa-chevron-left"></i>
                                </a>
                            </div>
                            <div class="col-lg-10 d-flex justify-content-center align-items-center">
                                <h5 class="modal-title" id="shareModalLong">Share Link</h5>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>


                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="nav flex-column share-list-link">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link d-flex justify-content-start align-items-center">
                                            <i class="fa fa-envelope"></i> Email
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link d-flex justify-content-start align-items-center">
                                            <i class="fa fa-whatsapp"></i> Whatsapp
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link d-flex justify-content-start align-items-center">
                                            <i class="fa fa-twitter"></i> Twitter
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="nav flex-column share-list-link">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link d-flex justify-content-start align-items-center">
                                            <img src="/admin/assets/images/icons/messanger-icon.png" class="img-fluid"> &nbsp;&nbsp; Message
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link d-flex justify-content-start align-items-center">
                                            <i class="fa fa-whatsapp"></i> Whatsapp
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link d-flex justify-content-start align-items-center">
                                            <i class="fa fa-instagram" aria-hidden="true"></i> Instagram
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>

            </div>
        </div>
    </div>
</section>