<section id="filterData" class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>FILTER BY</p>
                <div class="column-inner shadow-lg dashboard-rounded">
                    <form>
                        <div class="d-flex justify-content-around pt-3 align-items-center">
                            <div class="form-group">
                                <label>Product code</label>
                                <input type="text" name="" class="form-control" placeholder="Enter code">
                            </div>
                            <div class="form-group">
                                <label>Product name</label>
                                <input type="text" name="" class="form-control" placeholder="Enter code">
                            </div>
                            <div class="form-group">
                                <label>Category</label>
                                <select class="form-control">
                <option value="" selected>All</option>
                <option value="">Option 1</option>
                <option value="">Option 2</option>
                <option value="">Option 3</option>
              </select>
                            </div>
                            <div class="form-group">
                                <label>Amount</label>
                                <div class="input-group">
                                    <div class="input-group-prepend dropdown show">
                                        <span class="input-group-text" data-toggle="dropdown" id="basic-addon1">
                    &#8358;
                    &nbsp;
                    <i class="fa fa-caret-down"></i>
                  </span>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">$</a>
                                            <a class="dropdown-item" href="#">&pound;</a>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Enter Amount" aria-label="Username" aria-describedby="basic-addon1">
                                </div>

                            </div>
                            <input type="submit" name="" class="btn btn-secondary" value="Filter">
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="productList" class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex justify-content-between">
                    <p>1085 Results</p>
                    <div class="switcher">
                        <a href="#" class="active">
                            <i class="fa fa-th-large" aria-hidden="true"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-list" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>

                <div class="column-inner px-4 dashboard-rounded">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-6 p-4">
                                    <img src="https://revhaut.lappy.ng/admin-dashboard/assets/images/blog/grid/1.jpg" class="img-fluid dashboard-rounded">
                                </div>
                                <div class="col-6 py-4">
                                    <div class="flex-dem dash-product-list">
                                        <p>7200064678</p>
                                        <a href="#" class="badge badge-success">Youtube</a>
                                    </div>
                                    <div class="dash-product-list">
                                        <h5>Mind Games of a Broken Heart</h5>
                                        <p>
                                            Affiliate comm: 50
                                        </p>
                                    </div>
                                    <div class="dash-product-list">
                                        <a href="#">View performance</a>
                                        <a href="#" class="btn btn-secondary">View Affiliate Link</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 d-flex justify-content-end pt-4">
                            <h5>&#8358; 45,000</h5>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-6 p-4">
                                    <img src="https://revhaut.lappy.ng/admin-dashboard/assets/images/blog/grid/2.jpg" class="img-fluid dashboard-rounded">
                                </div>
                                <div class="col-6 py-4">
                                    <div class="flex-dem dash-product-list">
                                        <p>7200064678</p>
                                        <a href="#" class="badge badge-danger">Youtube</a>
                                    </div>
                                    <div class="dash-product-list">
                                        <h5>Mind Games of a Broken Heart</h5>
                                        <p>
                                            Affiliate comm: 50
                                        </p>
                                    </div>
                                    <div class="dash-product-list">
                                        <a href="#">View performance</a>
                                        <a href="#" class="btn btn-secondary">View Affiliate Link</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 d-flex justify-content-end pt-4">
                            <h5>&#8358; 45,000</h5>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-6 p-4">
                                    <img src="https://revhaut.lappy.ng/admin-dashboard/assets/images/blog/grid/3.jpg" class="img-fluid dashboard-rounded">
                                </div>
                                <div class="col-6 py-4">
                                    <div class="flex-dem dash-product-list">
                                        <p>7200064678</p>
                                        <a href="#" class="badge badge-warning">Youtube</a>
                                    </div>
                                    <div class="dash-product-list">
                                        <h5>Mind Games of a Broken Heart</h5>
                                        <p>
                                            Affiliate comm: 50
                                        </p>
                                    </div>
                                    <div class="dash-product-list">
                                        <a href="#">View performance</a>
                                        <a href="#" class="btn btn-secondary">View Affiliate Link</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 d-flex justify-content-end pt-4">
                            <h5>&#8358; 45,000</h5>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-6 p-4">
                                    <img src="https://revhaut.lappy.ng/admin-dashboard/assets/images/blog/grid/4.jpg" class="img-fluid dashboard-rounded">
                                </div>
                                <div class="col-6 py-4">
                                    <div class="flex-dem dash-product-list">
                                        <p>7200064678</p>
                                        <a href="#" class="badge badge-info">Youtube</a>
                                    </div>
                                    <div class="dash-product-list">
                                        <h5>Mind Games of a Broken Heart</h5>
                                        <p>
                                            Affiliate comm: 50
                                        </p>
                                    </div>
                                    <div class="dash-product-list">
                                        <a href="#">View performance</a>
                                        <a href="#" class="btn btn-secondary">View Affiliate Link</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 d-flex justify-content-end pt-4">
                            <h5>&#8358; 45,000</h5>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-6 p-4">
                                    <img src="https://revhaut.lappy.ng/admin-dashboard/assets/images/blog/grid/5.jpg" class="img-fluid dashboard-rounded">
                                </div>
                                <div class="col-6 py-4">
                                    <div class="flex-dem dash-product-list">
                                        <p>7200064678</p>
                                        <a href="#" class="badge badge-secondary">Youtube</a>
                                    </div>
                                    <div class="dash-product-list">
                                        <h5>Mind Games of a Broken Heart</h5>
                                        <p>
                                            Affiliate comm: 50
                                        </p>
                                    </div>
                                    <div class="dash-product-list">
                                        <a href="#">View performance</a>
                                        <a href="#" class="btn btn-secondary">View Affiliate Link</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 d-flex justify-content-end pt-4">
                            <h5>&#8358; 45,000</h5>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-end p-3 align-items-center">
                        <div class="footer-pagination">
                            <span>Page 1 of 20</span>
                            <a href="#" class="nav-arrow">
                                <i class="fa fa-caret-left"></i>
                            </a>
                            <a href="#" class="nav-arrow">
                                <i class="fa fa-caret-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="productGrid" class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex justify-content-between">
                    <p>1085 Results</p>
                    <div class="switcher">
                        <a href="#" class="active">
                            <i class="fa fa-th-large" aria-hidden="true"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-list" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-6 col-md-4 mb-4">
                        <div class="column-inner px-4 dashboard-rounded">
                            <div class="row">
                                <div class="col-7 p-3">
                                    <img src="https://revhaut.lappy.ng/admin-dashboard/assets/images/blog/grid/1.jpg" class="img-fluid dashboard-rounded">

                                </div>
                                <div class="col-5 py-4 d-flex justify-content-end pt-4">
                                    <h5>&#8358; 45,000</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex align-items-baseline dash-product-list mt-3 mb-2">
                                        <p class="mr-3">7200064678</p>
                                        <a href="#" class="badge badge-success">Youtube</a>
                                    </div>
                                    <div class="dash-product-list">
                                        <h5>Mind Games of a Broken Heart</h5>
                                        <p>
                                            Affiliate comm: 50
                                        </p>
                                    </div>
                                    <div class="dash-product-list pb-3">
                                        <a href="#">View performance</a>
                                        <a href="#affiliateModal" data-toggle="modal" class="btn btn-secondary">View Affiliate Link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End -->
                    </div>
                    <div class="col-sm-6 col-md-4 mb-4">
                        <div class="column-inner px-4 dashboard-rounded">
                            <div class="row">
                                <div class="col-7 p-3">
                                    <img src="https://revhaut.lappy.ng/admin-dashboard/assets/images/blog/grid/1.jpg" class="img-fluid dashboard-rounded">

                                </div>
                                <div class="col-5 py-4 d-flex justify-content-end pt-4">
                                    <h5>&#8358; 45,000</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex align-items-baseline dash-product-list mt-3 mb-2">
                                        <p class="mr-3">7200064678</p>
                                        <a href="#" class="badge badge-success">Youtube</a>
                                    </div>
                                    <div class="dash-product-list">
                                        <h5>Mind Games of a Broken Heart</h5>
                                        <p>
                                            Affiliate comm: 50
                                        </p>
                                    </div>
                                    <div class="dash-product-list pb-3">
                                        <a href="#">View performance</a>
                                        <a href="#affiliateModal" data-toggle="modal" class="btn btn-secondary">View Affiliate Link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End -->
                    </div>
                    <div class="col-sm-6 col-md-4 mb-4">
                        <div class="column-inner px-4 dashboard-rounded">
                            <div class="row">
                                <div class="col-7 p-3">
                                    <img src="https://revhaut.lappy.ng/admin-dashboard/assets/images/blog/grid/1.jpg" class="img-fluid dashboard-rounded">

                                </div>
                                <div class="col-5 py-4 d-flex justify-content-end pt-4">
                                    <h5>&#8358; 45,000</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex align-items-baseline dash-product-list mt-3 mb-2">
                                        <p class="mr-3">7200064678</p>
                                        <a href="#" class="badge badge-success">Youtube</a>
                                    </div>
                                    <div class="dash-product-list">
                                        <h5>Mind Games of a Broken Heart</h5>
                                        <p>
                                            Affiliate comm: 50
                                        </p>
                                    </div>
                                    <div class="dash-product-list pb-3">
                                        <a href="#">View performance</a>
                                        <a href="#affiliateModal" data-toggle="modal" class="btn btn-secondary">View Affiliate Link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End -->
                    </div>
                    <div class="col-sm-6 col-md-4 mb-4">
                        <div class="column-inner px-4 dashboard-rounded">
                            <div class="row">
                                <div class="col-7 p-3">
                                    <img src="https://revhaut.lappy.ng/admin-dashboard/assets/images/blog/grid/1.jpg" class="img-fluid dashboard-rounded">

                                </div>
                                <div class="col-5 py-4 d-flex justify-content-end pt-4">
                                    <h5>&#8358; 45,000</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex align-items-baseline dash-product-list mt-3 mb-2">
                                        <p class="mr-3">7200064678</p>
                                        <a href="#" class="badge badge-success">Youtube</a>
                                    </div>
                                    <div class="dash-product-list">
                                        <h5>Mind Games of a Broken Heart</h5>
                                        <p>
                                            Affiliate comm: 50
                                        </p>
                                    </div>
                                    <div class="dash-product-list pb-3">
                                        <a href="#">View performance</a>
                                        <a href="#affiliateModal" data-toggle="modal" class="btn btn-secondary">View Affiliate Link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End -->
                    </div>
                    <div class="col-sm-6 col-md-4 mb-4">
                        <div class="column-inner px-4 dashboard-rounded">
                            <div class="row">
                                <div class="col-7 p-3">
                                    <img src="https://revhaut.lappy.ng/admin-dashboard/assets/images/blog/grid/1.jpg" class="img-fluid dashboard-rounded">

                                </div>
                                <div class="col-5 py-4 d-flex justify-content-end pt-4">
                                    <h5>&#8358; 45,000</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex align-items-baseline dash-product-list mt-3 mb-2">
                                        <p class="mr-3">7200064678</p>
                                        <a href="#" class="badge badge-success">Youtube</a>
                                    </div>
                                    <div class="dash-product-list">
                                        <h5>Mind Games of a Broken Heart</h5>
                                        <p>
                                            Affiliate comm: 50
                                        </p>
                                    </div>
                                    <div class="dash-product-list pb-3">
                                        <a href="#">View performance</a>
                                        <a href="#" class="btn btn-secondary">View Affiliate Link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End -->
                    </div>
                    <div class="col-sm-6 col-md-4 mb-4">
                        <div class="column-inner px-4 dashboard-rounded">
                            <div class="row">
                                <div class="col-7 p-3">
                                    <img src="https://revhaut.lappy.ng/admin-dashboard/assets/images/blog/grid/1.jpg" class="img-fluid dashboard-rounded">

                                </div>
                                <div class="col-5 py-4 d-flex justify-content-end pt-4">
                                    <h5>&#8358; 45,000</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex align-items-baseline dash-product-list mt-3 mb-2">
                                        <p class="mr-3">7200064678</p>
                                        <a href="#" class="badge badge-success">Youtube</a>
                                    </div>
                                    <div class="dash-product-list">
                                        <h5>Mind Games of a Broken Heart</h5>
                                        <p>
                                            Affiliate comm: 50
                                        </p>
                                    </div>
                                    <div class="dash-product-list pb-3">
                                        <a href="#">View performance</a>
                                        <a href="#" class="btn btn-secondary">View Affiliate Link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End -->
                    </div>
                </div>
                <div class="d-flex justify-content-end p-3 align-items-center">
                    <div class="footer-pagination">
                        <span>Page 1 of 20</span>
                        <a href="#" class="nav-arrow">
                            <i class="fa fa-caret-left"></i>
                        </a>
                        <a href="#" class="nav-arrow">
                            <i class="fa fa-caret-right"></i>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<section id="viewAffiliateLink">
    <div class="modal fade" id="affiliateModal" tabindex="-1" role="dialog" aria-labelledby="arialReferModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-lg-10 text-center d-flex justify-content-center">
                            <h5 class="modal-title" id="exampleModalLabel">Affiliate Link</h5>
                        </div>
                        <div class="col-lg-2 d-flex justify-content-end">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                        </div>
                    </div>
                    <hr>
                </div>

                <div class="modal-body  d-flex justify-content-center">
                    <div class="modal-content-container dashboard-rounded text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-5">
                                    <img src="https://revhaut.lappy.ng/admin-dashboard/assets/images/blog/grid/1.jpg" class="img-fluid dashboard-rounded">
                                </div>
                                <div class="col-sm-7 d-flex align-items-center">
                                    <h5 class="mb-4">Get free N1,000</h5>
                                </div>
                            </div>
                        </div>

                        <hr class="mb-5">
                        <form class="mt-4">
                            <div class="form-group">
                                <div class="d-flex justify-content-between">
                                    <label>Copy Link</label>
                                    <a href="#shareModal" data-toggle="modal">Share link</a>
                                </div>
                                <div class="input-group">
                                    <input type="url" class="form-control" id="validationDefaultUsername" placeholder="https://revhaut.com/kufrek12" aria-describedby="inputGroupPrepend2" required>
                                    <div class="input-group-prepend">
                                        <a href="#" class="input-group-text" id="inputGroupPrepend2">Copy</a>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>