<section id="mainContent">
    <div class="container">
        <div class="col-12 col-sm-12 p-3">
            <h5>Filter By</h5>
        </div>
        <div class="col-12 col-sm-12 p-4 section-shadow">
            <form>
                <div class="form-row justify-content-around">
                    <div class="col-flex">
                        <label for="labelTransaction">Transaction ID</label>
                        <input type="text" class="form-control mb-2" id="labelTransaction" placeholder="Enter ID">
                    </div>
                    <div class="col-flex">
                        <label for="labelTransType">Transaction Type</label>
                        <select class="form-control mb-2" id="labelTransType">
               <option selected>All</option>
               <option>Select Data1</option>
               <option>Select Data2</option>
               <option>Select Data3</option>
             </select>
                    </div>
                    <div class="col-flex">
                        <label for="labelAmount">Amount</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="amountDropdown" data-toggle="dropdown">
                    &#8358;
                    &nbsp;&nbsp;&nbsp;
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                  </span>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">$</a>
                                    <a class="dropdown-item" href="#">&pound;</a>
                                </div>
                            </div>

                            <input type="text" class="form-control" placeholder="Enter Amount" id="labelAmount" aria-describedby>
                        </div>
                    </div>
                    <div class="col-flex">
                        <label for="labelStatus">Status</label>
                        <select class="form-control mb-2" id="labelStatus">
               <option selected>All</option>
               <option>Select Data1</option>
               <option>Select Data2</option>
               <option>Select Data3</option>
             </select>
                    </div>
                    <div class="col-flex">
                        <label for="labelDate">Enter Date</label>
                        <div class="input-group">
                            <input type="date" class="form-control" id="labelDate" aria-describedby>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend3">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
</section>

<section id="productList" class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="column-inner px-4 dashboard-rounded">
                    <div class="row">
                        <div class="col-lg-12 count">
                            <div class="row" id="heads">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tr>
                                            <th>TRANSACTION ID</th>
                                            <th>PRODUCT</th>
                                            <th>AMOUNT</th>
                                            <th>COMMISSION</th>
                                            <th>STATUS</th>
                                            <th>DATE CREATED</th>
                                        </tr>
                                        <tr>
                                            <td>RUBRWA354</td>
                                            <td>Mind games of a broken heart</td>
                                            <td>&#8358;45,000</td>
                                            <td>&#8358;450</td>
                                            <td>
                                                <a href="#" class="badge badge-warning">Pending</a>
                                            </td>
                                            <td>06-08-2021</td>
                                        </tr>
                                        <tr>
                                            <td>RUBRWA354</td>
                                            <td>Mind games of a broken heart</td>
                                            <td>&#8358;45,000</td>
                                            <td>&#8358;450</td>
                                            <td>
                                                <a href="#" class="badge badge-warning">Pending</a>
                                            </td>
                                            <td>06-08-2021</td>
                                        </tr>
                                        <tr>
                                            <td>RUBRWA354</td>
                                            <td>Mind games of a broken heart</td>
                                            <td>&#8358;45,000</td>
                                            <td>&#8358;450</td>
                                            <td>
                                                <a href="#" class="badge badge-warning">Pending</a>
                                            </td>
                                            <td>06-08-2021</td>
                                        </tr>
                                        <tr>
                                            <td>RUBRWA354</td>
                                            <td>Mind games of a broken heart</td>
                                            <td>&#8358;45,000</td>
                                            <td>&#8358;450</td>
                                            <td>
                                                <a href="#" class="badge badge-warning">Pending</a>
                                            </td>
                                            <td>06-08-2021</td>
                                        </tr>
                                        <tr>
                                            <td>RUBRWA354</td>
                                            <td>Mind games of a broken heart</td>
                                            <td>&#8358;45,000</td>
                                            <td>&#8358;450</td>
                                            <td>
                                                <a href="#" class="badge badge-warning">Pending</a>
                                            </td>
                                            <td>06-08-2021</td>
                                        </tr>
                                        <tr>
                                            <td>RUBRWA354</td>
                                            <td>Mind games of a broken heart</td>
                                            <td>&#8358;45,000</td>
                                            <td>&#8358;450</td>
                                            <td>
                                                <a href="#" class="badge badge-warning">Pending</a>
                                            </td>
                                            <td>06-08-2021</td>
                                        </tr>
                                        <tr>
                                            <td>RUBRWA354</td>
                                            <td>Mind games of a broken heart</td>
                                            <td>&#8358;45,000</td>
                                            <td>&#8358;450</td>
                                            <td>
                                                <a href="#" class="badge badge-warning">Pending</a>
                                            </td>
                                            <td>06-08-2021</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end p-3 align-items-center">
                                <div class="footer-pagination">
                                    <span>Page 1 of 20</span>
                                    <a href="#" class="nav-arrow">
                                        <i class="fa fa-caret-left"></i>
                                    </a>
                                    <a href="#" class="nav-arrow">
                                        <i class="fa fa-caret-right"></i>
                                    </a>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>