<section class="contact-wrap ptb-100">
    <img src="/assets/img/tub.svg" alt="Image" class="section-img style1">
    <div class="container">
        <div class="row">
            <div class="col-mdd-12">
                <div class="contact-form-wrap">
                    <div class="quote-bg bg-f">
                        <div class="contact-form mt-0">
                            <div class="content-title mb-50">
                                <h2>Sign In</h2>
                            </div>
                            <form class="form-wrap" method="post" id="contact_form">
                                <div id="message" class="alert alert-danger alert-dismissible fade"></div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input class="email" name="email" type="email" placeholder="Email Address*" required>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input class="password" name="password" type="password" placeholder="XXX XXXX XXX">
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <button class="btn btn-primary submit">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>