<section id="signup" class="page-title home-bg page-title-layout2 bg-overlay bg-overlay-gradient bg-parallax">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 d-flex small-padding site-bg-primary   align-items-center justify-content-center wow fadeInLeft" data-wow-duration="2s" data-wow-delay="2s">
                <div class="affiliate-column">
                    <h2>Become a vendor</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                    </p>
                    <a href="/register/vendor" class="btn btn-primary">Become a vendor</a>
                </div>
            </div>
            <div class="col-sm-6 d-flex small-padding site-bg-secondary  align-items-center justify-content-center wow fadeInRight" data-wow-duration="2s" data-wow-delay="2s">
                <div class="affiliate-column">
                    <h2>Become a affiliate</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                    </p>
                    <a href="/register/affiliate" class="btn btn-secondary">Become an affiliate</a>
                </div>
            </div>
        </div>

    </div>
</section>