<section class="blog-wrap ptb-200">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-12 order-xl-1 order-lg-2 order-md-2 order-2">
                <div class="sidebar">
                    <div class="sidebar-widget categories box">
                        <h4>Deposit</h4>
                        <div class="category-box">
                            <ul class="list-style">
                                <li><a href="services.html">BTC - Bitcoin ($100)</a></li>
                                <li><a href="services.html">ETH - Ethereum ($100)</a></li>
                                <li><a href="services.html">BNB - Binance Coin ($100)</a></li>
                                <li><a href="services.html">USDT - Tether ($100)</a></li>
                                <li><a href="services.html">Litecoin (LTC) ($100)</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-widget recent-post ">
                        <h4>Recent Posts</h4>
                        <div class="popular-post-widget">
                            <div class="pp-post-item">
                                <div class="pp-post-img">
                                    <img src="https://templates.hibootstrap.com/hort/default/assets/img/blog/post-thumb-1.jpg" alt="Image">
                                </div>
                                <div class="pp-post-info">
                                    <h6><a href="blog-details-no-sidebar.html">Molestiae Accusum Officia Tempore Cum Atque</a></h6>
                                    <span><i class="las la-calendar"></i>09 Mar, 2021</span>
                                </div>
                            </div>
                            <div class="pp-post-item">
                                <div class="pp-post-img">
                                    <img src="https://templates.hibootstrap.com/hort/default/assets/img/blog/post-thumb-3.jpg" alt="Image">
                                </div>
                                <div class="pp-post-info">
                                    <h6><a href="blog-details-no-sidebar.html">Lorem Ipsum Dolor Sit Amet Adipisi Elit Keto Baidu</a></h6>
                                    <span><i class="las la-calendar"></i>15 Feb, 2021</span>
                                </div>
                            </div>
                            <div class="pp-post-item">
                                <div class="pp-post-img">
                                    <img src="https://templates.hibootstrap.com/hort/default/assets/img/blog/post-thumb-2.jpg" alt="Image">
                                </div>
                                <div class="pp-post-info">
                                    <h6><a href="blog-details-no-sidebar.html">At Vero Eos Et Accusam Et Justo Duo Dolore Rebum</a></h6>
                                    <span><i class="las la-calendar"></i>08 Jan, 2021</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-12 order-xl-2 order-lg-1 order-md-1 order-1">
                <div class="row justify-content-center pos-rel">
                    <img src="/assets/img/service/leaf-5.png" alt="Image" class="leaf-5">
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="service-card style1">
                            <div class="service-info">
                                <div class="service-header">
                                    <div class="service-header-icon">
                                        <i class="flaticon-growth"></i>
                                    </div>
                                    <div class="service-header-title">
                                        <span>Outdoor Spacing</span>
                                        <h3><a href="/investments/details">Commercial Gardens</a></h3>
                                    </div>
                                </div>
                                <p class="service-desc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor ut.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="service-card style1">
                            <div class="service-info">
                                <div class="service-header">
                                    <div class="service-header-icon">
                                        <i class="flaticon-farming"></i>
                                    </div>
                                    <div class="service-header-title">
                                        <span>Indoor Spacing</span>
                                        <h3><a href="service-details.html">Family Garden Setup</a></h3>
                                    </div>
                                </div>
                                <p class="service-desc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor ut.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="service-card style1">
                            <div class="service-info">
                                <div class="service-header">
                                    <div class="service-header-icon">
                                        <i class="flaticon-gardening-1"></i>
                                    </div>
                                    <div class="service-header-title">
                                        <span>Outdoor Spacing</span>
                                        <h3><a href="service-details.html">Contemporary </a></h3>
                                    </div>
                                </div>
                                <p class="service-desc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="recent-post ">
                        <h4>Recent Posts</h4>
                        <div class="popular-post-widget">
                            <div class="row justify-content-center">
                                <div class="col-lg-6 col-md-6">
                                    <div class="blog-card style1">
                                        <a href="blog-details-left-sidebar.html" class="blog-img">
                                            <img src="/assets/img/blog/blog-1.jpg" alt="Image">
                                            <span class="blog-date"> 31 March 2021</span>
                                        </a>
                                        <div class="blog-info">
                                            <h3 class="blog-title"><a href="blog-details-left-sidebar.html">Everything You Need To Know For Home Garden Setup</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="blog-card style1">
                                        <a href="blog-details-left-sidebar.html" class="blog-img">
                                            <img src="/assets/img/blog/blog-2.jpg" alt="Image">
                                            <span class="blog-date">
                            22 Feb 2021
                            </span>
                                        </a>
                                        <div class="blog-info">
                                            <h3 class="blog-title"><a href="blog-details-left-sidebar.html">Top 10 Tips For The Maintanance Of Your Garden</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>